# Ignorer les fichiers compilés Python
/cache
/Exercice_1/__pycache__
*.pyc
Exercice_2/__pycache__/Algo_puis_iter_V2.cpython-313.pyc
Exercice_1/__pycache__/Algo_puis_iter_V1.cpython-313.pyc
.idea/
.vscode/