Exercice_1/__pycache__/programme1.cpython-313.pyc
Exercice_2/__pycache__/programme3.cpython-313.pyc
.DS_Store
Exercice_1/__pycache__/programme1.cpython-311.pyc
Exercice_2/__pycache__/programme3.cpython-310.pyc
Exercice_1/__pycache__/programme1.cpython-310.pyc
Exercice_1/__pycache__/programme1.cpython-311.pyc
Exercice_1/__pycache__/programme1.cpython-311.pyc

Exercice_1/__pycache__/Algo_puis_iter_V1.cpython-313.pyc
Exercice_1/__pycache__/programme1.cpython-311.pyc
Exercice_2>__pycache__>Algo_puis_iter_V2.cpython-313.pyc